@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap');

.featuredcover{
    margin-bottom: -45px;
    height:80vh;
}
.featuredcover--vertical{
    width:  inherit;
    height: inherit;
    background: linear-gradient(to top,#070707, transparent 100%);
}
.featuredcover--horizontal{
    width: inherit;
    height: inherit;
    background: linear-gradient(to right,#111,transparent);
}
.featuredcover--title{
    font-family: 'Source Serif Pro', serif;
    padding: 20px;
    color: #eff3f5;
    font-size:40px;
}
.featuredcover--overview{
    font-family: 'Source Serif Pro', serif;
    color: #eff3f5;
    margin: 10px;
    margin-top: 20px;
    font-size: 18px;
    max-width: 80%;
}
.featuredcover--vote,
.featuredcover--date {
    font-family: 'Source Serif Pro', serif;
    color: #eff3f5;
    display: flex;
    gap: 2.5px;
    margin: 10px;
    margin-top: 10px;
    font-size: 15px;
}
